<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('商户批量查询项目列表')" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formid">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>商户：</label>
                                <select id="merCode" name="merCode" class="form-control select2-multiple"  >
                                    <option value="">所有</option>
                                    <option th:each="merInfo : ${merInfos}" th:text="${merInfo.merName}" th:value="${merInfo.merCode}"></option>
                                </select>
                            </li>


                            <li>
                                <label>项目名称：</label>
                                <input type="text" name="projectName"/>
                            </li>
                            <li>
                                <label>产品名称：</label>
                                <input type="text" name="productName"/>
                            </li>
<!--                            <li>-->
<!--                                <label>批次号：</label>-->
<!--                                <input type="text" name="batchNo"/>-->
<!--                            </li>-->
<!--                    -->
<!--                            <li>-->
<!--                                <label>开始执行时间：</label>-->
<!--                                <input type="text" class="time-input" placeholder="请选择开始执行时间" name="startTime"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>结束时间：</label>-->
<!--                                <input type="text" class="time-input" placeholder="请选择结束时间" name="endTime"/>-->
<!--                            </li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="bp:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="bp:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
<!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="bp:remove">-->
<!--                    <i class="fa fa-remove"></i> 删除-->
<!--                </a>-->
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="bp:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var bcpStatusDatas = [[${@dict.getType('xh_bcp_status')}]];

        var editFlag = [[${@permission.hasPermi('bp:edit')}]];
        var removeFlag = [[${@permission.hasPermi('bp:remove')}]];
        var startTaskFlag = [[${@permission.hasPermi('bp:startTask')}]];
        var auditFlag = [[${@permission.hasPermi('bp:audit')}]];
        var prefix = ctx + "xh/bp";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "商户批量查询项目",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '编号',
                    visible: false
                },

                {
                    field: 'projectName',
                    title: '项目名称'
                },
                {
                    field: 'merName',
                    title: '商户名称'
                },

                {
                    field: 'productName',
                    title: '产品名称'
                },
                {
                    field: 'batchNo',
                    title: '批次号'
                },
                {
                    field: 'productPrice',
                    title: '产品单价'
                },
                {
                    field: 'totalNum',
                    title: '总数量'
                },
                {
                    field: 'successNum',
                    title: '查询数量'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(bcpStatusDatas, value);
                    }
                },
                {
                    field: 'uploadPath',
                    title: '数据',
                    formatter: function(value, row, index) {

                        return "<a  href='javascript:void(0)' onclick=downFile('"+row.uploadPath+"')>下载</a>";

                    }
                },
                {
                    field: 'downloadPath',
                    title: '结果',
                    formatter: function(value, row, index) {
                        if(row.status !='5'){
                            return "-"
                        }
                        return "<a  href='javascript:void(0)' onclick=downFile('"+row.downloadPath+"')>下载</a>";
                     }
                },
                // {
                //     field: 'remark',
                //     title: '备注'
                // },
                // {
                //     field: 'startTime',
                //     title: '开始执行时间'
                // },
                // {
                //     field: 'endTime',
                //     title: '结束时间'
                // },
                    {
                        field: 'createTime',
                        title: '创建时间'
                    },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                      //状态 1=审核中 ，2= 待执行 3=执行中 ,4=作废, 5=执行结束
                        if(row.status=='2') {
                            actions.push('<a class="btn btn-outline btn-warning dim btn-xs ' + startTaskFlag + '" href="javascript:void(0)" onclick="startTask(\'' + row.id + '\')"><i class="fa fa-warning"></i>启动</a>');
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');

                        }else   if(row.status=='1'){
                           actions.push('<a class="btn btn-outline btn-primary dim btn-xs ' + auditFlag + '" href="javascript:void(0)" onclick="audit(\'' + row.id + '\')"><i class="fa fa-check"></i>审核</a>');
                           actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                           //actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                       }
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="detail(\'' + row.id + '\')"><i class="fa fa-search"></i>详情</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function  startTask(id){
            $.modal.confirm("确认要启动该批量项目吗?", function() {
                $.ajax({
                    url:  prefix+"/startTask/"+id,
                    type: "get",
                    success: function (d) {
                       // console.log(d);
                        layer.msg("批量查询中。。。", {icon: 1, time: 2000});
                        $.table.refresh();
                    }
                });
            });
        }
        function  audit(id){
            $.modal.confirm("确认审核通过吗?", function() {
                $.ajax({
                    url:  prefix+"/audit/"+id,
                    type: "get",
                    success: function (d) {
                      //  console.log(d);
                        layer.msg("审核通过", {icon: 1, time: 2000})
                        $.table.refresh();
                    }
                });
            });
        }

        function  downFile(path){
            $.modal.confirm("确认下载该文件?", function() {
                window.location.href = prefix + "/downFile?filePath=" + encodeURI(path) ;
            });
        }

        // 商户信息详情
        function detail(id) {
            table.set();
            var routeUrl = prefix + "/edit/" + id;
            // routeUrl=routeUrl("{id}", id);
            $.modal.open("批量项目详情", routeUrl);
        }

    </script>
</body>
</html>