/.idea/
/.settings/
/.project
/.dbeaver/
/target/

# Java build files
target/
build/
bin/
application-local.yml
# IDE and editor files
.idea/
.vscode/
*.iml

# Compiled class files
*.class

# Package files
*.war
*.ear
