<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('产品销售列表')" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>

                            <li>
                                <label>商户：</label>
                                <select id="merCode" name="merCode" class="form-control select2-multiple"  >
                                    <option value="">所有</option>
                                    <option th:each="merInfo : ${merInfos}" th:text="${merInfo.merName}" th:value="${merInfo.merCode}"></option>
                                </select>
                            </li>


                            <li>
                                <label>产品分类：</label>
                                <select id="cgCode" name="cgCode" class="form-control" th:with="type=${@dict.getType('xh_product_category')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>

                            <li>
                                <label>产品：</label>
                                <select id="productCode" name="productCode" class="form-control select2-multiple">
                                    <option value="">所有</option>
                                </select>
                            </li>

                            <li>
                                <label>产品名称：</label>
                                <input type="text" name="productName"/>
                            </li>


                            <li>
                                <label>状态：</label>
                                <select name="status" th:with="type=${@dict.getType('xh_off_on_state')}" class="form-control noselect2">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>

                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="addPSell()" shiro:hasPermission="xh:productSell:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary" onclick="bacthcRoute()" shiro:hasPermission="xh:productSell:batchRoute">
                    <i class="fa fa-plus"></i> 批量路由
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="xh:productSell:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
           <!--     <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="xh:productSell:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>-->
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="xh:productSell:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>

    <th:block th:include="include :: select2-js" />
    <th:block th:include="include :: footer" />

    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('xh:productSell:edit')}]];
        var routeFlag = [[${@permission.hasPermi('xh:productSell:route')}]];
        var removeFlag = [[${@permission.hasPermi('xh:productSell:remove')}]];
        var cgCodeDatas = [[${@dict.getType('xh_product_category')}]];
        var statusDatas = [[${@dict.getType('xh_off_on_state')}]];
        var prefix = ctx + "xh/productSell";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                routeUrl: prefix + "/route/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "产品销售",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    align: 'center',
                    title: '编号',
                    visible: false
                },
                {
                    field: 'cgCode',
                    align: 'center',
                    title: '产品分类',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(cgCodeDatas, value);
                    }
                },
                {
                    field: 'productName',
                    title: '产品名称',
                    align: 'center',
                },
                {
                    field: 'merName',
                    title: '商户名称',
                    align: 'center',
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, row, index) {
                        return statusTools(row);
                    }
                },
                {
                    field: 'sellPrice',
                    title: '售价(元)'
                },

                {
                    field: 'supNames',
                    title: '路由供应商'
                },
                {
                    field: 'routeCon',
                    title: '路由条件'
                },
                {
                    field: 'createTime',
                    align: 'center',
                    title: '创建时间'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + routeFlag + '" href="javascript:void(0)" onclick="route(\'' + row.id + '\')"><i class="fa fa-edit"></i>路由</a> ');
                        //actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
		function addPSell() {
			table.set();
           	$.modal.openOptions({
				title: "添加" + table.options.modalName,
				url: $.operate.addUrl(),
				btn: ['保存', '保存继续', '关闭'],
				btn2: function(index, layero) {
					this.callBack(index, layero, function(res) {
						if (res.code == web_status.SUCCESS) {
							$.modal.msgSuccess(res.msg + '，请继续添加！');
							
                        	var win = layero.find('iframe')[0].contentWindow;
							win.$('#sellPrice').val('');
							win.$('#productCode').val('').change();
						} else {
							$.modal.alertError(res.msg);
						}
						return false;
					});
					return false;
				}
			});
		}

        // 供应商路由
        function route (id) {
            table.set();
            var routeUrl =  prefix + "/route/"+id;
           // routeUrl=routeUrl("{id}", id);
            $.modal.open("产品供应商路由配置" , routeUrl);
        }

        // 批量供应商路由
        function bacthcRoute () {
            table.set();
            $.modal.openOptions({
				title: "产品供应商批量路由配置",
				url: prefix + "/batchRoute",
				btn: ['保存', '保存继续', '关闭'],
				btn2: function(index, layero) {
					this.callBack(index, layero, function(res) {
						if (res.code == web_status.SUCCESS) {
							$.modal.msgSuccess(res.msg + '，请继续配置！');
							
                        	var win = layero.find('iframe')[0].contentWindow;
							win.$('#productCode').val('').change();
						} else {
							$.modal.alertError(res.msg);
						}
						return false;
					});
					return false;
				}
			});
        }


        /* 状态显示 */
        function statusTools(row) {
            if (row.status == '00') {
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.id + '\')"></i> ';
            } else {
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.id + '\')"></i> ';
            }
        };


        /* 商户管理-停用 */
        function disable(id) {
            $.modal.confirm("确认要停用该商户产品接口吗？", function () {
                $.operate.post(prefix + "/edit", {"id": id, "status": '01'});
            })
        }

        /* 商户管理启用 */
        function enable(id) {
            $.modal.confirm("确认要启用该商户产品接口吗？", function () {
                $.operate.post(prefix + "/edit", {"id": id, "status": '00'});
            })
        }


        // $(function() {
        //     $('#merCode').select2({
        //        // placeholder: "请选择岗位",
        //        // allowClear: true
        //     });
        //     $('#productCode').select2({
        //        // placeholder: "请选择岗位",
        //        // allowClear: true
        //     });
        // });

        /*选择产品分类*/
        $("#cgCode").bind("change", function () {
            $('#productCode option').not(":first").remove();
            var cgCode=$("#cgCode").val();
            if(!cgCode){
                return;
            }
            $.ajax({
                url: ctx+"xh/product/productsByCgCode/"+cgCode,
                type: "get",
                success: function (d) {
                    if (d) {
                        var data = d;
                        for (var i in data) {
                            /*循环添加option*/
                            $("#productCode:last").append("<option value=" + data[i].productCode + ">" + data[i].productName + "</option>");
                        }
                    } else {
                        layer.msg("产品加载失败", {icon: 2, time: 2000})
                    }
                }
            })
        }).change();
    </script>
</body>
</html>