<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkc.mapper.MerReqLogMapper">

    <resultMap type="com.mkc.domain.MerReqLog" id="MerReqLogResult">
        <result property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="cgCode" column="cg_code"/>
        <result property="productCode" column="product_code"/>
        <result property="productName" column="product_name"/>
        <result property="merCode" column="mer_code"/>
        <result property="merSeq" column="mer_seq"/>
        <result property="merName" column="mer_name"/>
        <result property="supCode" column="sup_code"/>
        <result property="supName" column="sup_name"/>
        <result property="sellPrice" column="sell_price"/>
        <result property="inPrice" column="in_price"/>
        <result property="inPrice" column="in_price"/>
        <result property="reqJson" column="req_json"/>
        <result property="respJson" column="resp_json"/>
        <result property="status" column="status"/>
        <result property="free" column="free"/>
        <result property="actualPrice" column="actual_price"/>
        <result property="reqTime" column="req_time"/>
        <result property="respTime" column="resp_time"/>
        <result property="totalTime" column="total_time"/>
        <result property="createTime" column="create_time"/>
        <result property="remark" column="remark"/>
        <result property="ipaddr" column="ipaddr"/>
    </resultMap>

    <sql id="selectMerReqLogVo">
        select id,
               order_no,
               cg_code,
               product_code,
               product_name,
               mer_code,
               mer_seq,
               mer_name,
               sup_code,
               sup_name,
               sell_price,
               in_price,
               req_json,
               resp_json,
               actual_price,
               status,
               free,
               req_time,
               resp_time,
               total_time,
               create_time,
               remark,
               ipaddr
        from t_mer_req_log
    </sql>

    <select id="selectMerReqLogList" parameterType="com.mkc.bean.MerReqLogBean" resultMap="MerReqLogResult"
            timeout="100">
        <include refid="selectMerReqLogVo"/>
        <where>
            <if test="orderNo != null  and orderNo != ''">and order_no = #{orderNo}</if>
            <if test="productCode != null  and productCode != ''">and product_code = #{productCode}</if>
            <if test="productName != null  and productName != ''">and product_name like concat('%', #{productName},
                '%')
            </if>
            <if test="cgCode != null  and cgCode != ''">and cg_code = #{cgCode}</if>
            <if test="merCode != null  and merCode != ''">and mer_code = #{merCode}</if>
            <if test="merName != null  and merName != ''">and mer_name like concat('%', #{merName}, '%')</if>
            <if test="supCode != null  and supCode != ''">and sup_code = #{supCode}</if>
            <if test="sellPrice != null ">and sell_price = #{sellPrice}</if>
            <if test="inPrice != null ">and in_price = #{inPrice}</if>
            <if test="reqJson != null  and reqJson != ''">and req_json like concat('%', #{reqJson}, '%')</if>
            <if test="respJson != null  and respJson != ''">and resp_json = #{respJson}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="merSeq != null  and merSeq != ''">and mer_seq = #{merSeq}</if>
            <if test="reqTime != null ">and req_time = #{reqTime}</if>
            <if test="respTime != null ">and resp_time = #{respTime}</if>
            <if test="totalTime != null ">and total_time = #{totalTime}</if>
            <if test="startTime != null ">and req_time >= #{startTime}</if>
            <if test="endTime != null ">and req_time <![CDATA[ <= ]]> #{endTime}</if>
        </where>
        order by order_no desc
    </select>

    <select id="selectListOrderByReqTime" parameterType="com.mkc.bean.MerReqLogBean" resultMap="MerReqLogResult">
        <include refid="selectMerReqLogVo"/>
        <where>
            <if test="orderNo != null  and orderNo != ''">and order_no = #{orderNo}</if>
            <if test="productCode != null  and productCode != ''">and product_code = #{productCode}</if>
            <if test="productName != null  and productName != ''">and product_name like concat('%', #{productName},
                '%')
            </if>
            <if test="cgCode != null  and cgCode != ''">and cg_code = #{cgCode}</if>
            <if test="merCode != null  and merCode != ''">and mer_code = #{merCode}</if>
            <if test="merName != null  and merName != ''">and mer_name like concat('%', #{merName}, '%')</if>
            <if test="supCode != null  and supCode != ''">and sup_code = #{supCode}</if>
            <if test="sellPrice != null ">and sell_price = #{sellPrice}</if>
            <if test="inPrice != null ">and in_price = #{inPrice}</if>
            <if test="reqJson != null  and reqJson != ''">and req_json like concat('%', #{reqJson}, '%')</if>
            <if test="respJson != null  and respJson != ''">and resp_json = #{respJson}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="merSeq != null  and merSeq != ''">and mer_seq = #{merSeq}</if>
            <if test="reqTime != null ">and req_time = #{reqTime}</if>
            <if test="respTime != null ">and resp_time = #{respTime}</if>
            <if test="totalTime != null ">and total_time = #{totalTime}</if>
            <if test="startTime != null ">and req_time >= #{startTime}</if>
            <if test="endTime != null ">and req_time <![CDATA[ <= ]]> #{endTime}</if>
        </where>
        order by req_time asc
    </select>

    <select id="selectMerReqLogById" parameterType="Long" resultMap="MerReqLogResult">
        <include refid="selectMerReqLogVo"/>
        where id = #{id}
    </select>

    <select id="selectMerReqLogByOrderNo" parameterType="String" resultMap="MerReqLogResult">
        <include refid="selectMerReqLogVo"/>
        where order_no = #{orderNo}
    </select>


    <update id="updateMerReqLog" parameterType="com.mkc.domain.MerReqLog">
        update t_mer_req_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="productCode != null and productCode != ''">product_code = #{productCode},</if>
            <if test="productName != null and productName != ''">product_name = #{productName},</if>
            <if test="merCode != null and merCode != ''">mer_code = #{merCode},</if>
            <if test="merName != null and merName != ''">mer_name = #{merName},</if>
            <if test="supCode != null">sup_code = #{supCode},</if>
            <if test="sellPrice != null">sell_price = #{sellPrice},</if>
            <if test="inPrice != null">in_price = #{inPrice},</if>
            <if test="reqJson != null">req_json = #{reqJson},</if>
            <if test="respJson != null">resp_json = #{respJson},</if>
            <if test="status != null">status = #{status},</if>
            <if test="reqTime != null">req_time = #{reqTime},</if>
            <if test="respTime != null">resp_time = #{respTime},</if>
            <if test="totalTime != null">total_time = #{totalTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMerReqLogById" parameterType="Long">
        delete
        from t_mer_req_log
        where id = #{id}
    </delete>

    <delete id="deleteMerReqLogByIds" parameterType="Integer">
        delete from t_mer_req_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="selectMerReqLogReport" resultType="com.mkc.domain.MerReport" timeout="600">
        select
        sup_code,mer_code,product_code,cg_code,sell_price,
        sum(actual_price) total_price,sum(in_price) in_price,sum(fee_times) fee_times,
        avg(total_time) avg_time,sum(status_ok_fit) status_ok_fit,sum(status_ok_unfit) status_ok_unfit,
        sum(status_no) status_no,sum(status_err) status_err,
        sum(times1) times1,sum(times3) times3,sum(times10) times10,sum(times_ge10) times_ge10
        from (
        select
        order_no,sup_code,mer_code,product_code,cg_code,in_price,sell_price,actual_price,free::int fee_times,total_time,
        case when status='1' then 1 else 0 end status_ok_fit,
        case when status='3' then 1 else 0 end status_ok_unfit,
        case when status='2' then 1 else 0 end status_no,
        case when status='4' then 1 else 0 end status_err,
        <![CDATA[
				case when total_time<1000 then 1 else 0 end times1,
				case when total_time>=1000 and total_time<3000 then 1 else 0 end times3,
				case when total_time>=3000 and total_time<10000 then 1 else 0 end times10,
				case when total_time>=10000 then 1 else 0 end times_ge10
				]]>
        from t_mer_req_log y
        <![CDATA[
			where req_time >= #{startDate} and req_time < #{endDate}
			]]>
        <if test="merCode != null and merCode != ''">and mer_code = #{merCode}</if>
        ) l
        group by sup_code,mer_code,product_code,cg_code,sell_price
    </select>


    <select id="selectCreateTime" resultType="java.time.LocalDateTime">
        SELECT max(create_time) FROM t_mer_req_log WHERE req_json like concat('%', #{reqJson}, '%') AND product_code = #{productCode}
        <![CDATA[
            and req_time >= #{startTime} and req_time <= #{endTime}
        ]]>
    </select>
</mapper>
